/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container input.btn,
.container a,
.container select,
.container select option {
	outline-style: none !important;
}

.description-blog {
	height: 250px;
}


.form-user ul {
	list-style: none;
}

.form-user #user div ul li {
	color: #ee0000;
}





