{% extends "LikipeBlogBundle::layout.html.twig" %}
{% block title "Post" %}
{% block content %}
<div class="container">

	<div class="row-fluid blog">
		<a class="btn btn-success" href="{{ path('LikipeBlogBundle_Post_add') }}">{% trans %}Create post{% endtrans %}</a>
	</div>

</div> <!-- /container -->
{% endblock %}